<footer class="footer">
  <div class="container has-text-centered">
    <p>Brought to you with <span class="menu-icon fa fa-heart fa-fw heartbeat" style="color:#c9302c;"></span> by <a href="https://henriquedias.com">Henrique Dias</a> <a href="https://github.com/hacdias">[@hacdias]</a> and <a href="https://github.com/filebrowser/filebrowser/graphs/contributors">contributors</a>.</p>
    <p class="shields">
      <a title="Latest version" href="https://github.com/filebrowser/filebrowser/releases/latest">
        <img src="https://img.shields.io/github/release/filebrowser/filebrowser.svg?style=flat-square">
      </a>
      <a title="Middleware/Backend documentation" href="http://godoc.org/github.com/filebrowser/filebrowser">
        <img src="https://img.shields.io/badge/godoc-reference-blue.svg?style=flat-square">
      </a>
      <a title="Go Report Card" href="https://goreportcard.com/report/github.com/filebrowser/filebrowser">
        <img src="https://goreportcard.com/badge/github.com/filebrowser/filebrowser?style=flat-square">
      </a>
      <a href="https://github.com/filebrowser/filebrowser/">
        <img src="https://img.shields.io/badge/github-filebrowser/filebrowser-4183c4.svg?style=flat-square&logo=github">
      </a>
      <a href="https://github.com/filebrowser/filebrowser/stargazers">
        <img src="https://img.shields.io/github/stars/filebrowser/filebrowser.svg?style=flat-square">
      </a>
      <a href="https://github.com/filebrowser/filebrowser/network">
        <img src="https://img.shields.io/github/forks/filebrowser/filebrowser.svg?style=flat-square">
      </a>
      <a href="https://github.com/filebrowser/filebrowser/watchers">
        <img src="https://img.shields.io/github/watchers/filebrowser/filebrowser.svg?style=flat-square">
      </a>
    </p>
  </div>
</footer>
