// 1. Import the initial variables
@import "bulma/sass/utilities/initial-variables"

$blue: #2979ff
$primary: $blue

@import "bulma/bulma"

body
    display: flex
    min-height: 100vh
    flex-direction: column

.flex
    flex: 1 0 auto

.container
    max-width: 960px !important
    width: 95%

.is-transparent
    background-color: transparent

.hero.is-ocean
    background-color: #40c4ff

.logo 
    color: #fff
    font-weight: bold

.fa svg
    height: 42px
    fill: #4a4a4a

#features .icon.is-large
    margin-bottom: .5em

.banner-header
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
    border-radius: .1em
    margin: 2em auto
    max-width: 50em

.shields
    margin-top: 10px

/* Heartbeat animation */
/* https://gist.github.com/gubi/8483199 */
.heartbeat
    display: inline-block
    position: relative
    animation: heartbeat 1s infinite linear

@keyframes heartbeat
    0%
        transform: scale(  .75 )
    20%
        transform: scale( 1    )
    40%
        transform: scale(  .75 )
    60%
        transform: scale( 1.25 )
    80%
        transform: scale(  .75 )
    100%
        transform: scale(  .75 )
