// 1. Import the initial variables
@import "bulma/sass/utilities/initial-variables"

$info: #bdeaff
$blue: #2979ff
$primary: $blue
$breadcrumb-item-separator-color: $blue

@import "bulma/bulma"

body
    display: flex
    min-height: 100vh
    flex-direction: column

.flex
    flex: 1 0 auto

.breadcrumb img
    max-height: 1.75rem
    margin-right: .5rem

.hero-body
    padding: 2rem 1.5rem

.home-hero
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
    border-radius: .1em
    margin: 2em auto
    max-width: 35em

.home-banner
    margin: 1em auto
    max-width: 40em

#features .icon.is-large
    margin-bottom: .5em

.footer
    padding: 1.5rem

.shields
    margin-top: 10px

/* Heartbeat animation */
/* https://gist.github.com/gubi/8483199 */
.heartbeat
    display: inline-block
    position: relative
    animation: heartbeat 1s infinite linear

@keyframes heartbeat
    0%
        transform: scale(  .75 )
    20%
        transform: scale( 1    )
    40%
        transform: scale(  .75 )
    60%
        transform: scale( 1.25 )
    80%
        transform: scale(  .75 )
    100%
        transform: scale(  .75 )
