---
layout: default
---

<header class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h2 class="subtitle has-text-centered">A stylish file manager</h2>
      <figure class="image">
        <img src="assets/images/hero.png">
      </figure>

      <div class="block has-text-centered">
        <a class="button is-medium is-primary is-inverted" href="{{ site.url }}{{ site.baseurl }}/quick-start/">
          Get Started
        </a>
        <a class="button is-medium is-primary is-inverted" href="https://github.com/filebrowser/filebrowser/">
          <span class="icon is-medium">
            <i class="fa fa-github"></i>
          </span>
          <span>Star</span>
        </a>
      </div>
    </div>
  </div>
</header>

<section class="section" id="features">
  <div class="container">
    <h2 class="title is-2 is-spaced has-text-centered">Features</h2>
    <div class="columns is-multiline">
      <div class="column is-one-third">
        <p class="heading has-text-centered">Cloud</p>
        <p class="has-text-centered">
          <span class="icon is-large">
            <i class="fa fa-cloud"></i>
          </span>
        </p>
        <p>
          Create, edit, copy, move, download your files easily, everywhere, every time, use File Browser
          as your personal cloud.
        </p>
      </div>

     <div class="column is-one-third">
        <p class="heading has-text-centered">Search</p>
        <p class="has-text-centered">
          <span class="icon is-large">
            <i class="fa fa-search"></i>
          </span>
        </p>
        <p>
          Search through your files and find the one instantly. Filter by type, by extension.
        </p>
      </div>

      <div class="column is-one-third">
        <p class="heading has-text-centered">Users</p>
        <p class="has-text-centered">
          <span class="icon is-large">
            <i class="fa fa-users"></i>
          </span>
        </p>
        <p>
          You can have multiple users, each one with their own folder, permissions and access roles.
        </p>
      </div>

      <div class="column is-one-third">
        <p class="heading has-text-centered">Languages</p>
        <p class="has-text-centered">
          <span class="icon is-large">
            <i class="fa fa-globe"></i>
          </span>
        </p>
        <p>
          Available in multiple languages! It's not available in yours? You can contribute and translate it yourself
          for the community.
        </p>
      </div>

      <div class="column is-one-third">
        <p class="heading has-text-centered">Commands</p>
        <p class="has-text-centered">
          <span class="icon is-large">
            <i class="fa fa-terminal"></i>
          </span>
        </p>
        <p>
          You can execute commands such as git, svn or hg on the web interface. They are configured by you
          so you can run whatever you want.
        </p>
      </div>

      <div class="column is-one-third">
        <p class="heading has-text-centered">Static Binary</p>
        <p class="has-text-centered">
          <span class="icon is-large">
            <i class="fa fa-archive"></i>
          </span>
        </p>
        <p>
          File Browser is a single executable file with no dependencies. You just need to download
          it and add it to your PATH.
        </p>
      </div>
      
      <div class="column is-one-third">
        <p class="heading has-text-centered">Caddy</p>
        <p class="has-text-centered">
          <span class="icon is-large">
            <i class="fa fa-lock"></i>
          </span>
        </p>
        <p>
          File Browser is available as a <a href="/installation/#caddy">plugin</a> for Caddy, 
          which is the HTTP/2 web server with automatic HTTPS.
        </p>
      </div>

      <div class="column is-one-third">
        <p class="heading has-text-centered">Docker</p>
        <p class="has-text-centered">
          <span class="icon is-large">
            <i class="fa">
              {% include docker.svg %}
            </i>
          </span>
        </p>
        <p>
          File Browser can be easily installed using Docker with <code>docker pull hacdias/filemanager</code>.
        </p>
      </div>

      <div class="column is-one-third">
        <p class="heading has-text-centered">Static Generators</p>
        <p class="has-text-centered">
          <span class="icon is-large">
            <i class="fa fa-file-text"></i>
          </span>
        </p>
        <p>
          File Browser plays well with some static website generators, such as Jekyll and Hugo.
        </p>
      </div>
    </div>
  </div>
</section>
