---
layout: default
---

<header class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <nav class="breadcrumb is-medium has-succeeds-separator has-text-primary has-text-weight-bold" aria-label="breadcrumbs">
        <ul>
          <li>
            <a class="logo" href="{{ "/" | absolute_url }}">
              <img src="https://github.com/filebrowser/logo/raw/master/icon_raw.png">
                File Browser
            </a>
          </li>
          <li class="is-active"><a href="#" aria-current="page">{{ page.title | escape }}</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<article>
  <div class="section">
    <div class="container">
      <div class="columns">
          <div class="column is-3">
            <aside class="menu">
              {% if site.docs[0] %}
                {% for item in site.docs %}
                  <ul class="menu-list">
                    <li><a {% if page.url == item.url %}class="is-active"{% endif %} href="{{ item.url | absolute_url }}">{{ item.page }}</a>
                      {% if item.links[0] %}
                      <ul>
                        {% for entry in item.links %}
                          <li><a href="{{ entry.url | absolute_url }}">{{ entry.page }}</a></li>
                        {% endfor %}
                      </ul>
                      {% endif %}
                    </li>
                  </ul>
                {% endfor %}
              {% endif %}
            </aside>
          </div>
          <div class="column content">
            {{ content }}
          </div>
        </div>
    </div>
  </div>
</article>
  